[core]
	autocrlf = input
	pager = ~/software/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
[alias]
	co = checkout
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

